@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --neutral-content: #ffffff;
}

.widget-container {
  border-width: 1px;
  border-color: #625c53;
  border-radius: 2px;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.spin-animation {
  animation: logo-spin 2s linear infinite;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
